{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>VBucks Store</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-100 flex flex-col">
  
  <!-- Section for NPM, Name, Class Cards -->
  <div class="p-2 mb-6 relative">
    <!-- Fixed the grid system and removed unnecessary absolute positioning -->
    <div class="relative grid grid-cols-1 md:grid-cols-3 gap-8 z-30">
      {% include "card_info.html" with title='NPM' value=npm %}
      {% include "card_info.html" with title='Name' value=name %}
      {% include "card_info.html" with title='Class' value=class %}
    </div>
    <!-- Removed unnecessary absolute positioning for background color blocks -->
    <div class="hidden md:flex w-full px-6 absolute top-[44px] left-0 z-20">
      <div class="w-full min-h-4 bg-indigo-700"></div>
    </div>
    <div class="md:hidden flex h-full w-full py-6 absolute top-0 left-0 z-20">
      <div class="h-full min-w-4 bg-indigo-700 mx-auto"></div>
    </div>
  </div>

  <!-- Last Login Section -->
  <div class="px-3 mb-4">
    <div class="flex rounded-md items-center bg-indigo-600 py-2 px-4 w-auto">
      <h1 class="text-white text-center">Last Login: {{last_login}}</h1>
    </div>
  </div>

  <!-- Button to Add New VBucks Entry -->
  <div class="flex justify-end mb-6">
    <a href="{% url 'main:create_vbucks_entry' %}" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
      Add New VBucks Entry
    </a>
  </div>

  <!-- Display VBucks Entries or Empty State -->
  {% if not vbucks_entries %}
  <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
    <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
    <p class="text-center text-gray-600 mt-4">Belum ada data vbucks pada vbucks store.</p>
  </div>
  {% else %}
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
    {% for vbucks_entry in vbucks_entries %}
      {% include 'card_vbucks.html' with vbucks_entry=vbucks_entry %}
    {% endfor %}
  </div>
  {% endif %}

</div>
{% endblock content %}
